{% extends 'base.html' %}
{% block content %}

<h1>Universal Deck Builder</h1>
<hr />
<h5 class="about_h">Development</h5>
<p class="about">Developed over the course of the Spring of 2024 by Zach Oandasan, the project was initially concieved after a new card game was brought to the attention of the creator. He went to search for any methods of trying the game. Unfortunately, there was no dedicated service to the game avaliable. Thus, a new idea was created.</p>
<h5 class="about_h">Functionality</h5>
<p class="about">The Universal Deck Builder is constantly adding new cards to their database. Users will be allowed to build decks using these cards.</p>
<p class="about">Once a user is satisfied by their deck, the user can export their deck to either a printable image to play in paper, or as a .JSON file to be exported to a virtual tabletop.</p>


{% endblock %}