{% extends 'base.html' %}
{% block content %}

<h1>Deck List</h1>

<div class="card-panel">
  <div class="card-content">
    <span class="card-title">{{ deck.name }}</span>

    {% if deck.game == 4 %}
        <p>Game: Yu-Gi-oh</p>
        {% elif deck.game == 3 %}
        <p>Game: Pokemon</p>
        {% elif deck.game == 2 %}
        <p>Game: Magic The Gathering</p>
        {% else %}
        <p>Game: Unlisted</p>
    {% endif%}
    <p>Description: {{ deck.description }}</p>
    <div class="card-action">
      <button><a href="{% url 'decks_update' deck.id %}">Edit</a></button>
      <button><a href="{% url 'decks_delete' deck.id %}">Delete</a></button>
    </div>
  </div>
</div>


  <h5 style="text-align: center; ">Cards in Deck:</h5>
    <hr>
    <table class="highlight">
        <thead>
        <tr>
            <th>Card Name:</th>
            <th>Game:</th>
            <th>Card Type:</th>
            <th>Description:</th>
            <th>Quantity</th>
            <th>Image:</th>
        </tr>
        </thead>
        <tbody>
            {% for cardindeck in cardsindeck %}
              {% if deck.id == cardindeck.deck.id %}
                <tr>
                  <td>{{ cardindeck.card.name }}</td>

                  {% if cardindeck.card.game == 4 %}
                  <td>Yu-Gi-oh</td>
                  {% elif cardindeck.card.game == 3 %}
                  <td>Pokemon</td>
                  {% elif cardindeck.card.game == 2 %}
                  <td>Magic The Gathering</td>
                  {% else %}
                  <td>Unlisted</td>
                  {% endif%}

                  <td>{{ cardindeck.card.cardType }}</td>
                  <td>{{ cardindeck.card.description }}</td>
                  <td>{{ cardindeck.quantity }}</td>
                  <td><button class="btn"><a href="{{cardindeck.card.frontImageURL}}">view</a></button></td>
                </tr>
              {% endif %}
            {% endfor %}
        </tbody>
    </table>

{% endblock %}