{% extends 'base.html' %}
{% block content %}

{% if request.user %}
    <h5 style="text-align: center; ">Cards:</h5>
    <hr>
    <table class="highlight">
        <thead>
        <tr>
            <th>Card Name:</th>
            <th>Game:</th>
            <th>Card Type:</th>
            <th>Description:</th>
            <th>Rarity:</th>
            <th>Image:</th>
        </tr>
        </thead>
        <tbody>
            {% for card in cards %}
            <tr>
                <td>{{ card.name }}</td>

                {% if card.game == 4 %}
                <td>Yu-Gi-oh</td>
                {% elif card.game == 3 %}
                <td>Pokemon</td>
                {% elif card.game == 2 %}
                <td>Magic The Gathering</td>
                {% else %}
                <td>Unlisted</td>
                {% endif%}

                <td>{{ card.cardType }}</td>
                <td>{{ card.description }}</td>
                <td>{{ card.rarity }}</td>
                <td><button class="btn"><a href="{{card.frontImageURL}}">view</a></button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endif %}

{% endblock %}